.header {
	margin-top: 12rem;
}

.colophon {
	border-top: 1px solid #eee;
}

.hop{
	width:30px;
	height:30px;
}

.center {
	text-align:center;
}

.snifter {
	position:relative;
	top:1px;
	width:15px;
}

.beer-link {
	color: #222;
}

.show-brewery {
	color:#222;
}

.hide-brewery {
	color:white;
}

.em-beer {
	position:relative;
	bottom:7px;
}



/* Larger than phone */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 960px) {
	.break {
		display:none;
	}
}