<!-- 
                ~  ~
              ( o )o)
             ( o )o )o)
           (o( ~~~~~~~~o
           ( )' ~~~~~~~'
           ( )|)       |-.
             o| _ _ _  |-. \
             o|  | | | |  \ \
              |  | |_| |   | |
             o|        |  / /
              |        |." "
              |        |- '
              .========.
ascii art from: http://www.chris.com/ascii/index.php?art=food%20and%20drink/beer
-->

<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Bottleshops</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Inconsolata:400" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel='stylesheet' href='css/bottleshop.css'>

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src='js/bottleshopController.js'></script>


</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class='container' ng-app='bottleshopApp' ng-controller='BottleshopController'>
    <div class="row">
      <div class='' style="margin-top: 10%">
        <h2 class='center'><img class='hop' src='images/hop.png'><img class='hop' src='images/hop.png'><img class='hop' src='images/hop.png'> <br class='break'>TO Bottleshops <img class='hop' src='images/hop.png'><img class='hop' src='images/hop.png'><img class='hop' src='images/hop.png'></h2>
          <p class='center'>This is an overview of bottleshop listings for Toronto Breweries that have online pages.</p>
        <div ng-show='refreshing'>
          <p>Fetching the list - coming in hot off the presses ...</p>
        </div>
        <div ng-hide='refreshing'>
          <h4>Recently Stocked</h4>
            <div ng-repeat='brewery in listings'>
              <span ng-repeat='beer in brewery.beers track by $index'>
                <p ng-show='beer.recently_added'><span ng-class='$index == 0 ? "show-brewery" : "hide-brewery"' class='brewery-title'>{{brewery.brewery}}</span> // <a href='{{beer.link}}' class='beer-link'>{{beer.name}}</a></p>
              </span>
            </div>
          <h4>All listings</h4>
            <div ng-repeat='brewery in listings'>
              <span ng-repeat='beer in brewery.beers'>
                <p ng-class='$index == 0 ? "show-brewery" : "hide-brewery"'> {{brewery.brewery}} // <a href='{{beer.link}}' class='beer-link'>{{beer.name}}</a> </p>
              </span>
            </div>
        </div>
      </div>
    </div>
    <br>
    <div class='row colophon'>
      <h5>Notes, Thanks, Colophon</h5>
        <p>Special thanks to all of the breweries listed. This was made to ease Zach's (the <a href='mailto:zach.munrocape@gmail.com'>author</a>) Friday beer runs.</p>
        <p>A recent tag indicates that the beer has been (re)stocked in the past 24 hours.</p>
      <h5>Colophon</h5>
        <p> The Inconsolate typeface was designed by Ralph Levien and is available <a href='https://www.google.com/fonts/specimen/Inconsolata'>here</a>.</p>
        <p>Icons on this page all are from <a href='https://thenounproject.com'>The Noun Project</a>. <a href='https://thenounproject.com/heyoka/icon/74414/'>Hops</a> by Mark Caron and <a href='https://thenounproject.com/ilkebrs/collection/beer-glasses/?oq=beer&cidx=4&i=218316'>Beer Snifter Glass</a> by I Like Bears.</p>
    </div>
    <div class='row footer'>
      <p class='center'>Made with <img class='snifter' src='images/snifter.png'> in Toronto, ON.</p>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
